html, body {
    font-family: 'Raleway', sans-serif;
    height: 100%;
    margin: 0;
}

.game {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100%;
}

.score {
    font-size: 50px;
    color: rgb(200, 200, 200);
}
.game.started .score {
    color: rgb(82, 205, 50);
}
.game.paused .score {
    color: rgb(233, 158, 6);
}
.game.stopped .score {
    color: rgb(233, 6, 6);
}

.board {
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr);
    height: 600px;
    width: 600px;
    border: rgb(200, 200, 200) 1px solid;
}
.board .cell {
    border: rgb(247 247 247) 1px solid;
}
.board .cell.snake {
    background-color: rgb(40, 98, 22);
}
.board .cell.food {
    background-color: rgb(98, 22, 22);
}
.game.started .board {
    border-color: rgb(82, 205, 50);
}
.game.paused .board {
    border-color: rgb(233, 158, 6);
}
.game.stopped .board {
    border-color: rgb(233, 6, 6);
}

.buttons button {
    background-color: transparent;
    margin: 10px;
    line-height: 31px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    padding: 0 15px;
    border: rgb(200, 200, 200) 1px solid;
}

.buttons button.start {
    border-color: rgb(82, 205, 50);
    color: rgb(82, 205, 50);
}
.buttons button.start:hover {
    border-color: rgba(82, 205, 50, 0.5);
    color: rgba(82, 205, 50, 0.5);
}
.buttons button.start:active {
    border-color: rgba(82, 205, 50, 0.8);
    color: rgba(82, 205, 50, 0.8);
}

.buttons button.pause {
    border-color: rgb(233, 158, 6);
    color: rgb(233, 158, 6);
}
.buttons button.pause:hover {
    border-color: rgba(233, 158, 6, 0.5);
    color: rgba(233, 158, 6, 0.5);
}
.buttons button.pause:active {
    border-color: rgba(233, 158, 6, 0.8);
    color: rgba(233, 158, 6, 0.8);
}

.buttons button.stop {
    border-color: rgb(233, 6, 6);
    color: rgb(233, 6, 6);
}
.buttons button.stop:hover {
    border-color: rgba(233, 6, 6, 0.5);
    color: rgba(233, 6, 6, 0.5);
}
.buttons button.stop:active {
    border-color: rgba(233, 6, 6, 0.8);
    color: rgba(233, 6, 6, 0.8);
}
